# {{ ansible_managed }}
# Fichier d'environnement des services InsaCloud - CONTIENT DES SECRETS.
# Lu par systemd (EnvironmentFile=), permissions 0600 root.
INSACLOUD_SECRET_KEY={{ insacloud_secret_key }}

INSACLOUD_HOST=0.0.0.0
INSACLOUD_PORT={{ insacloud_web_port }}
{% for img in insacloud_images %}
INSACLOUD_IMAGE_{{ img.env }}={{ img.name }}:latest
{% endfor %}
INSACLOUD_PORT_MIN={{ insacloud_port_min }}
INSACLOUD_PORT_MAX={{ insacloud_port_max }}
INSACLOUD_MAX_INSTANCES={{ insacloud_max_instances }}
INSACLOUD_MAX_DURATION={{ insacloud_max_duration }}
INSACLOUD_CONTAINER_MEMORY={{ insacloud_container_memory }}
INSACLOUD_GUI_MEMORY={{ insacloud_gui_memory }}
INSACLOUD_FAUCHEUR_INTERVAL={{ insacloud_faucheur_interval }}
PYTHONUNBUFFERED=1
